:root {
    --decorative: 'Fascinate', cursive;
    --regular: 'Titillium Web', sans-serif;
    --accent: hsl(300, 100%, 50%);
    --accent-shade: hsl(300, 100%, 45%);
}

body {
    color: white;
    background: black;
    font-family: var(--regular);
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

/* ----header---- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-family: var(--decorative);
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 33%;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;

}

nav a:hover {
    color: var(--accent-shade);
    transition: .5s;
}

nav a:after:hover {
    width: 100%;
}

.logo {
    font-size: 1.6rem;
}

.logo span:last-of-type {
    display: block;
    text-align: center;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://images.unsplash.com/photo-1580494412800-c1bae5223824?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

.hero button {
    display: block;
    padding: 10px 20px;
    margin: auto;
}

h1 {
    font-size: 7rem;
    font-family: var(--decorative);
    color: var(--accent);
}

.hero span {
    font-size: 1.4rem;
}

.hero button {
    border: 2px solid var(--accent);
    font-family: var(--regular);
    color: white;
    background-color: transparent;
}

.hero button:hover {
    background-color: var(--accent);
    transition: .5s;
}

.nav-bars {
    color: white;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0px;
    display: none;
    padding: 15px;
}

.x {
    width: 40px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    padding: 10px;
    display: none;
}

.mobile-nav {
    display: none;
    flex: 1;
}

@media screen and (max-width: 950px) {
    .widescreen-nav {
        display: none;
    }

    .mobile-nav,
    .x,
    .nav-bars {
        display: block;
    }


    .logo {
        margin: auto;
    }

    .mobile-nav {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        z-index: 2;
        background-color: var(--accent);
        height: 100vh;
        width: 40%;
    }

    .mobile-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20%;
    }

    .mobile-nav li {
        width: 200%;
    }
}